<div class="card__title">
  <div class="card__title__text">
    <%= alist.title %>
  </div>
</div>
<div class="card_btn">
  <div class="like_btn">
    <% if current_user.liked_by?(alist.id) %>
        <%= link_to destroy_like_path(alist), class: "like-link", method: :DELETE, remote: true do %>
          <%# <i class="fas fa-sun unlike-btn"></i> %>
          <i class="material-icons md-18 unlike-btn">wb_sunny</i>
        <% end %>
          <%= alist.likes.count %>
    <% else %>
        <%= link_to create_like_path(alist), class: "like-link", method: :POST, remote: true do%>
          <%# <i class="fas fa-sun like-btn"></i>  %>
          <i class="material-icons md-18 like-btn">wb_sunny</i>
        <% end %>
          <%= alist.likes.count %>
    <% end %>
      <%= link_to alist_path(alist.id), class: "like-link" do %>
        <i class="far fa-comment comment-btn"></i>
      <% end %>
      <%= alist.comments.count %>
  </div>
  <div class="contributor">
    <%= link_to user_path(alist.user.id), class: "user-link" do %>
    <i class="far fa-user user-btn"></i>  
    <% end %>
    <%= link_to alist.user.name, user_path(alist.user.id), class: :card__user %>
  </div>
</div>
<div class="card__list">
  <div class="card__list__text">
    <i class="far fa-check-square list_check-btn"></i>
    <%= alist.list1 %>
  </div>
</div>
<div class="card__list">
  <div class="card__list__text">
    <i class="far fa-check-square list_check-btn"></i>
    <%= alist.list2 %> 
  </div>
</div>
<div class="card__list">
  <div class="card__list__text">
    <i class="far fa-check-square list_check-btn"></i>
    <%= alist.list3 %> 
  </div>
</div>
