<%= form_with model: alist, local: true do |f|%>
  <div class="field">
    <%= f.text_field :title, id:"alist_title", placeholder: "タイトルを入力 (13文字以内)", autocomplete: "title", class: :form__text %>
  </div>
  <div class="field">
    <%= f.text_field :list1, id:"alist_list1", placeholder: "ToDoリスト1 (15文字以内)", autocomplete: "list1", class: :form__text %>
  </div>
  <div class="field">
    <%= f.text_field :list2, id:"alist_list2", placeholder: "ToDoリスト2", autocomplete: "list2", class: :form__text %>
  </div>
  <div class="field">
    <%= f.text_field :list3, id:"alist_list3", placeholder: "ToDoリスト3", autocomplete: "list3", class: :form__text %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する", class: :form__btn  %>
  </div>
<% end %>